/* ISMAR - ovo je glavni routing file odakle se load-uje routing logika za pojedine tipove routa */

# ISMAR - Request route
include_file "/etc/kamailio/routes/request_main.cfg"

# ISMAR - Relay route
include_file "/etc/kamailio/routes/relay.cfg"

# ISMAR - Ovdje se smještene rute za obradu inicijalnih provjera SIP poruka
include_file "/etc/kamailio/routes/reqinit.cfg"

# ISMAR - Ovdje se smještene rute za obradu SIP poruka unutar dijaloga
include_file "/etc/kamailio/routes/withindlg.cfg"

# ISMAR - Ovdje se smještene rute za obradu SIP poruka unutar outgoing brancheva
include_file "/etc/kamailio/routes/manage_branch.cfg"

# ISMAR - Ovdje se smještene rute za obradu SIP poruka unutar reply-ova
include_file "/etc/kamailio/routes/manage_reply.cfg"

# ISMAR - Ovdje se smještene rute za obradu SIP poruka unutar failure-ova
include_file "/etc/kamailio/routes/manage_failure.cfg"

# ISMAR - Ovdje se smještene rute za dodavanja custom headera 
include_file "/etc/kamailio/routes/set_custom_x_header.cfg"

# ISMAR - Ovdje se smještene rute za postavljanje flaga da li je poziv iz javne ili privatne mreže
include_file "/etc/kamailio/routes/set_direction_flag.cfg"

# ISMAR - Ovdje se smještene rute za postavljanje socketa
include_file "/etc/kamailio/routes/set_socket.cfg" 

# ISMAR - Ovdje se smještene rute za RTP engine manipulaciju requesta
include_file "/etc/kamailio/routes/set_rtp_request.cfg" 

# ISMAR - Ovdje se smještene rute za RTP engine manipulaciju replya
include_file "/etc/kamailio/routes/set_rtp_reply.cfg" 

# ISMAR - Ovdje se smještene rute za setovanje parametara za CDR zapise
include_file "/etc/kamailio/routes/set_cdr_vars.cfg" 

# ISMAR - Ovdje se smještene rute za topolgy hiding
include_file "/etc/kamailio/routes/event_routes.cfg" 

# ISMAR - Ovdje se smještene rute za registraciju
include_file "/etc/kamailio/routes/handle_register.cfg" 

# ISMAR - Ovdje se smještene rute za manipulaciju kodecima
include_file "/etc/kamailio/routes/remove_codecs_inbound.cfg"

# ISMAR - Ovdje se smještene rute za blacklist security
include_file "/etc/kamailio/routes/blacklist.cfg"