# Manage incoming replies
onreply_route[MANAGE_REPLY] {
	xdbg("incoming reply\n");
	# ISMAR - dodavanje direction flag-a (da znamo odakle je došao reply - javna ili privatna mreža)
	route(SET_DIRECTION_FLAG);
	# ISMAR - managiranje RTP-a ("povlačimo" RTP kroz RTP engine)
	route(SET_RTP_REPLY);
}