# ISMAR - Routa za custom X header - tesiranje dodavanja custom X headera
route[SET_CUSTOM_X_HEADER] {
	# Provjera da li je metoda INVITE
	if (!is_method("INVITE")) {
		# Dobra praksa je da se vrati nekakav odgovor, -1 bi značilo false. Može se iskoristi kasnije
		return(-1);		
	}
		# Dodajemo custom X header X-ISMAR-Source-IP, popunjavamo ga sa IP adresom i postavljamo iza Call-ID header-a
		append_hf("X-ISMAR-Source-IP: $si\r\n", "Call-ID");	
		return(1);
}