# ISMAR - ovo je modul koji je potreban za upisvanje CDR zapisa
loadmodule "dialog.so"

modparam("dialog","default_timeout", 43200)     # 12h će trajati dialog
modparam("dialog","db_mode", 0)                 # dialog se ne upisuje u bazu podataka
modparam("dialog","dlg_flag", FLT_DLG)          # flag za dialog
modparam("dialog", "hash_size",  4096 )