# ISMAR - routa za security
route[BLACKLIST] { 

    # ISMAR - ovo je htable provjera IP adrese. Ako je adresa u htable "blacklist_ip", odbacuje se poruka
    # Check if the source IP is blocked in htable
    if($sht(blacklist_ip=>$si)){
        xlog("L_INFO", "$si blocked because IP address is blacklisted in htable\n");
        exit;
    }
    xlog("L_INFO", "$si is not blocked\n");
    # Check the secf tables 
    secf_check_ip();
    if ($? == -2) {
        xlog("L_INFO", "$si blocked because IP address is blacklisted in secfilter\n");
        exit;
    } 
    if ($? == 1) {
        xlog("L_INFO", "$si is not blocked\n");
        return 1;
    } 
}