# ISMAR - ovo su route za topology hiding. Koristimo event route koje se okidaju kada se desi neki event
# U našem slučaj, desio se event topos:msg-outgoing
event_route[topos:msg-outgoing] {
xlog("L_INFO", "topos:msg-outgoing | \n");
  if !(is_in_subnet($si, "172.16.254.0/24")) {
    xlog("L_INFO", "topos:msg-outgoing | request from PUBLIC->CORE. Ne radimo topology hiding sa topos za pozive iz javne mreže! \n");
    drop;
  }
}