route[SET_RTP_REQUEST] {
    #Check if the method is anything other than UPDATE or INVITE, 
    # ISMAR - ako nije INVITE ili UPDATE, ne radi ništa
	if (!is_method("UPDATE|INVITE")) {
        return 0;
	}

    # ISMAR - provjeravamo da li postoji SDP u requestu
    # ISMAR - ako postoji SDP, onda ga šaljemo na RTP engine
    if (sdp_content()) {
        $avp(originalSDP) = $rb;                # u varaijblu "oritginalSDP" čuvamo originalni SDP dobiven iz request-a

        # ISMAR - tretiramo pozive iz javne mreže
        if(isflagset(FLT_FROM_PUBLIC)){
            xlog("L_INFO", "SET_RTP_REQUEST | FROM_PUBLIC IS SET |  PROTO = $proto \n");
            if (proto==TLS) {
                xlog("L_INFO", "SET_RTP_REQUEST | proto is TLS! Convert to unencrypted RTP in the core \n");
				rtpengine_manage("RTP/AVP replace-origin replace-session-connection SIP-source-address ICE=remove direction=public direction=core");
            }
        }
        if(isflagset(FLT_FROM_CORE)){
            # ISMAR - tretiramo pozive iz privatne mreže
            xlog("L_INFO", "SET_RTP_REQUEST | FROM_CORE IS SET\n");
            # Check if the remote device is registered. 
            if(reg_fetch_contacts("location", "$ru", "caller")){
                # Add SRTP to the out going INVITE for remote registered devices
                rtpengine_manage("RTP/SAVP replace-origin replace-session-connection direction=core direction=public");
            } else { 
                # If not a registered device, perform the standard nat translations and leave media alone
                rtpengine_manage("replace-origin replace-session-connection direction=core direction=public");
            }
        }
        # ISMAR - šaljemo RTP engine-u da aplicira modificirani SDP
        set_body("$avp(modifiedSDP)","application/sdp");
    } 
}