route[SET_RTP_REQUEST] {
    #Check if the method is anything other than UPDATE or INVITE, 
    # ISMAR - ako nije INVITE ili UPDATE, ne radi ništa
	if (!is_method("UPDATE|INVITE")) {
        return 0;
	}

    # ISMAR - provjeravamo da li postoji SDP u requestu
    # ISMAR - ako postoji SDP, onda ga šaljemo na RTP engine
    if (sdp_content()) {
        $avp(originalSDP) = $rb;                # u varaijblu "oritginalSDP" čuvamo originalni SDP dobiven iz request-a
        # ISMAR - tretiramo pozive iz javne mreže
        if(isflagset(FLT_FROM_PUBLIC)){
            xlog("L_INFO", "SET_RTP_REQUEST | FROM_PUBLIC IS SET\n");
            # ISMAR - ako je poziv iz javne mreže, onda šaljemo RTP engine-u da zamijeni origin i session connection
            rtpengine_manage("replace-origin replace-session-connection direction=public direction=core");
        }
        # ISMAR - tretiramo pozive iz privatne mreže
        if(isflagset(FLT_FROM_CORE)){
            xlog("L_INFO", "SET_RTP_REQUEST | FROM_CORE IS SET\n");
            rtpengine_manage("replace-origin replace-session-connection direction=core direction=public");
        }
        # ISMAR - šaljemo RTP engine-u da aplicira modificirani SDP
        set_body("$avp(modifiedSDP)","application/sdp");
    } 
}