# ISMAR - htable security modul
# Kreiramo htabelu sa imenom "blacklist_ip", veličine 256 iz koje unosi expire-aju svakih 60s
loadmodule "htable.so"
#Params
modparam("htable", "htable", "blacklist_ip=>size=256;autoexpire=60") 